@mixin border-style($color) {
  border-radius: 0.25rem;
  border-bottom: 2px solid $color;
}

@mixin header($uppercase: true) {
  font: inherit;
  font-weight: bold;
  color: black;
  font-size: $header-font-size;
  line-height: 1rem;
  @if $uppercase == true {
    text-transform: uppercase;
  }
  position: relative;
  margin: $header-margin 0;
}
