// GRID
$column-gap: 0.75rem;
$row-gap: 1rem;

// HEADERS
$header-font-size: 1rem;
$header-margin: 1.5rem;

// COLORS
$form-fields-label-color: #565656;
$form-fields-border-color: #dcdcdc;
$form-fields-text-color: #9f9f9f;
$form-fields-select-color: #333333;
$form-fields-error-color: #ea0000;
$form-fields-padding-x: .75rem;
$form-fields-padding-y: 0.5rem;

$header-icon-color: $form-fields-label-color;

$submit-button-color: #6bd400;
$submit-button-border-color: #5cb204;
